<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Admin</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-kernel/master/dist/ax5ui.all.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-kernel/master/dist/ax5ui.all.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!---
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     --->
    <script type="text/javascript">
$(document).ready(function () {

	/* dash(-)로 구분되는 날짜 포맷터 */
	ax5.ui.grid.formatter["date"] = function() {
		var date = this.value;
		if(date.length == 8) {
			return date.substr(0, 4) + "-" + date.substr(4, 2) + "-" + date.substr(6);
		} else {
			return date;
		}
	}

	/* 그리드 객체 생성 */
	var firstGrid = new ax5.ui.grid();

	/* 그리드 설정 지정 */
	firstGrid.setConfig({
	    target: $('[data-ax5grid="license-grid"]'),

        showLineNumber: true,
        showRowSelector: true,
        multipleSelect: false,
        lineNumberColumnWidth: 40,
        rowSelectorColumnWidth: 27,

	    columns: [
            {key: "date", label: "라이선스 넘버", align: "center"},
            {key: "type", label: "라이선스 코드", align: "center"},
            {key: "amount", label: "라이선스 타입", align: "center"},
            {key: "mileage", label: "라이선스 제품", align: "center"},
            {key: "price", label: "라이선스 기간", formatter: "money", align: "center"},
            {key: "repair", label: "라이선스 시작 날짜", align: "center"},
            {key: "note", label: "라이선스 종료 날짜", align: "center"},
            {key: "note", label: "사용자 Email", align: "center"}
	    ]
	});

    /* 테스트용 데이터 생성 */
    var list = [];
    for (var i = 0; i < 50; i++) {
        list.push({date: "20170101", type: "주유", amount: 25, mileage: (i + 1) * 100, price: 45000, repair: "-", note: "-"});
    }

    /* 그리드에 데이터 설정 */
    firstGrid.setData(list);
});
</script>
<!--indx.js 추가 -->
<script src="/js/app/index.js"></script>

</head>
<body>
<div class="col-md-12">
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" id="btn-license-generate">라이센스 생산</button>
        <button type="button" class="btn btn-primary" id="btn-license-search">라이센스 조회</button>
    </div>

    <div id="license-table">
        <div data-ax5grid="license-grid" data-ax5grid-config="{}" style="width:100%; height:300px;"></div>
    </div>
</div>

</body>
</html>