<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beaver</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Welcome Beaver Page</h1>

    <br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/LicenseAdmin" role="button" class="btn btn-info btn-lg" id="btn-license-page">License Page</a>
                <a href="/LoginTest" role="button" class="btn btn-warning btn-lg" id="btn-login-test">Login Page</a>
                <a href="/LoginTest2" role="button" class="btn btn-warning btn-lg" id="btn-login-test2">Login Page</a>
            </div>
        </div>
    </div>
</body>
</html>